*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #d6d7db;
}

header{
    width: 100%;
    height: 80px;
    background-color: #D92C28;
    position: fixed;
    z-index: 10;
}

form{
    
}

#busqueda{
    position: absolute;
    left: 450px;
    top: 30%;
}

#find{
    width: 400px;
    height: 35px;
    padding: 10px 10px;
    border-radius: 5px 0px 0px 5px;
    border: 0px solid #000000;
}

#btn_find{
    width: 80px;
    height: 35px;
    margin-left: -5px;
    border-radius: 0px 5px 5px 0px;
    border: 0px solid #000000;
    background-color:#81A635;
    cursor: pointer;
}

#btn_find:hover{
    background-color: #00994C;
}

#btn_find:active{
		background-color:#006633;
		color:white;
    }
    




main{
    padding-top: 75px;
    
}

#contenedor-slider{
   
    
}


